@if (icon == "file") {
  <lucide-icon [img]="FileIcon" class="w-max inline-block" [class]="className"></lucide-icon>
} @else if (icon == "logout") {
  <lucide-icon [img]="LogOutIcon" class="w-max inline-block" [class]="className"></lucide-icon>
} @else if (icon == "arrow-right") {
  <lucide-icon [img]="ArrowRightIcon" class="w-max inline-block" [class]="className"></lucide-icon>
}  @else if (icon == "house") {
  <lucide-icon [img]="HouseIcon" class="w-max inline-block" [class]="className"></lucide-icon>
} @else if (icon == "book") {
  <lucide-icon [img]="BookIcon" class="w-max inline-block" [class]="className"></lucide-icon>
} @else if (icon == "user") {
  <lucide-icon [img]="UserIcon" class="w-max inline-block" [class]="className"></lucide-icon>
} @else if (icon == "history") {
  <lucide-icon [img]="HistoryIcon" class="w-max inline-block" [class]="className"></lucide-icon>
} @else if (icon == "check") {
  <lucide-icon [img]="CheckIcon" class="w-max inline-block" [class]="className"></lucide-icon>
} @else if (icon == "alert") {
  <lucide-icon [img]="ShieldAlertIcon" class="w-max inline-block" [class]="className"></lucide-icon>
} @else if (icon == "x") {
  <lucide-icon [img]="XIcon" class="w-max inline-block" [class]="className"></lucide-icon>
}
