button.btn {
    overflow: hidden !important;
    position: relative;
}

button.btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -50%;
  width: 50%;
  height: calc(100% + 120px);
  transform: rotate(58deg) translateY(32%) scale(2);
  background: black;
  opacity: 0;
  transition: all 0.5s ease;
  mix-blend-mode: multiply;
  z-index: 0;
}

button:hover::after {
  right: -34%;
  opacity: 1;
}
